<?xml version="1.0" ?>
<robot name="WAVEGO" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find WAVEGO_description)/urdf/materials.xacro" />
<xacro:include filename="$(find WAVEGO_description)/urdf/WAVEGO.trans" />
<xacro:include filename="$(find WAVEGO_description)/urdf/WAVEGO.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="4.629913587071468e-06 0.0008541357983545728 0.02527208057319014" rpy="0 0 0"/>
    <mass value="2.404665137524432"/>
    <inertia ixx="0.014672" iyy="0.004854" izz="0.017781" ixy="1e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="FL_calf_1">
  <inertial>
    <origin xyz="-0.004499999876559219 0.037277144723405264 -0.03580328685629376" rpy="0 0 0"/>
    <mass value="0.13674715561298245"/>
    <inertia ixx="0.000187" iyy="8.1e-05" izz="0.000108" ixy="0.0" iyz="8.7e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.1062 -0.146588 0.075767" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FL_calf_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.1062 -0.146588 0.075767" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FL_calf_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RR_hip_1">
  <inertial>
    <origin xyz="0.023191261877654294 -0.018797237818421075 -4.1800070709613335e-07" rpy="0 0 0"/>
    <mass value="0.11211432793359863"/>
    <inertia ixx="2.4e-05" iyy="4.3e-05" izz="5.3e-05" ixy="1e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0245 0.112734 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RR_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0245 0.112734 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RR_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RR_thigh_1">
  <inertial>
    <origin xyz="0.019708452445206706 0.002793249454622948 -0.052318122854697884" rpy="0 0 0"/>
    <mass value="0.21479142042733623"/>
    <inertia ixx="0.000275" iyy="0.000299" izz="6.3e-05" ixy="-1e-06" iyz="2.7e-05" ixz="7e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.071 0.132334 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RR_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.071 0.132334 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RR_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RL_thigh_1">
  <inertial>
    <origin xyz="-0.019708452443622543 0.002801526868147386 -0.052315136197844156" rpy="0 0 0"/>
    <mass value="0.21479142042972638"/>
    <inertia ixx="0.000274" iyy="0.000299" izz="6.3e-05" ixy="1e-06" iyz="2.7e-05" ixz="-7e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.071 0.132334 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RL_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.071 0.132334 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RL_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RL_calf_1">
  <inertial>
    <origin xyz="-0.002999999876561424 0.037276868216588835 -0.035803204648581874" rpy="0 0 0"/>
    <mass value="0.13674715561298253"/>
    <inertia ixx="0.000187" iyy="8.1e-05" izz="0.000108" ixy="0.0" iyz="8.7e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.1102 0.117012 0.075805" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RL_calf_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.1102 0.117012 0.075805" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RL_calf_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RR_calf_1">
  <inertial>
    <origin xyz="0.0044999998807064845 0.03727393846783113 -0.03580662749063199" rpy="0 0 0"/>
    <mass value="0.13674715563520035"/>
    <inertia ixx="0.000187" iyy="8.1e-05" izz="0.000108" ixy="-0.0" iyz="8.7e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.1102 0.117039 0.075814" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RR_calf_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.1102 0.117039 0.075814" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RR_calf_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="FR_calf_1">
  <inertial>
    <origin xyz="0.004499999880704333 0.03727393846783095 -0.03580662749063558" rpy="0 0 0"/>
    <mass value="0.13674715563520035"/>
    <inertia ixx="0.000187" iyy="8.1e-05" izz="0.000108" ixy="-0.0" iyz="8.7e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.1102 -0.149161 0.075814" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FR_calf_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.1102 -0.149161 0.075814" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FR_calf_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="FR_thigh_1">
  <inertial>
    <origin xyz="0.019708452445206706 0.0027932494546228648 -0.05231812285470108" rpy="0 0 0"/>
    <mass value="0.2147914204273362"/>
    <inertia ixx="0.000275" iyy="0.000299" izz="6.3e-05" ixy="-1e-06" iyz="2.7e-05" ixz="7e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.071 -0.133866 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FR_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.071 -0.133866 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FR_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="FL_thigh_1">
  <inertial>
    <origin xyz="-0.01970845141862286 0.0028015258976535895 -0.052315121957901674" rpy="0 0 0"/>
    <mass value="0.21479149727020624"/>
    <inertia ixx="0.000274" iyy="0.000299" izz="6.3e-05" ixy="1e-06" iyz="2.7e-05" ixz="-7e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.071 -0.133866 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FL_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.071 -0.133866 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FL_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RL_hip_1">
  <inertial>
    <origin xyz="-0.023191261875960753 -0.018797237818405393 -3.568526728628396e-07" rpy="0 0 0"/>
    <mass value="0.11211432793359274"/>
    <inertia ixx="2.4e-05" iyy="4.3e-05" izz="5.3e-05" ixy="-1e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0245 0.112734 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RL_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0245 0.112734 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/RL_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="FL_hip_1">
  <inertial>
    <origin xyz="-0.02319126187595901 0.01879798849608902 -4.180014100720053e-07" rpy="0 0 0"/>
    <mass value="0.11211432793360432"/>
    <inertia ixx="2.4e-05" iyy="4.3e-05" izz="5.3e-05" ixy="1e-06" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0245 -0.114266 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FL_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0245 -0.114266 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FL_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="FR_hip_1">
  <inertial>
    <origin xyz="0.023191261877654377 0.018797988496071977 -3.5685197443888206e-07" rpy="0 0 0"/>
    <mass value="0.11211432793359852"/>
    <inertia ixx="2.4e-05" iyy="4.3e-05" izz="5.3e-05" ixy="-1e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0245 -0.114266 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FR_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0245 -0.114266 -0.025234" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://WAVEGO_description/meshes/FR_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="旋转 5" type="revolute">
  <origin xyz="-0.0352 0.012722 -0.101001" rpy="0 0 0"/>
  <parent link="FL_thigh_1"/>
  <child link="FL_calf_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="2.094395" lower="-2.094395" effort="100" velocity="100"/>
</joint>

<joint name="旋转 11" type="revolute">
  <origin xyz="0.0245 -0.112734 0.025234" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="RR_hip_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
  <limit upper="0.523599" lower="-0.523599" effort="100" velocity="100"/>
</joint>

<joint name="旋转 13" type="revolute">
  <origin xyz="0.0465 -0.0196 0.0" rpy="0 0 0"/>
  <parent link="RR_hip_1"/>
  <child link="RR_thigh_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <limit upper="2.094395" lower="-2.094395" effort="100" velocity="100"/>
</joint>

<joint name="旋转 14" type="revolute">
  <origin xyz="-0.0465 -0.0196 0.0" rpy="0 0 0"/>
  <parent link="RL_hip_1"/>
  <child link="RL_thigh_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit upper="2.094395" lower="-2.094395" effort="100" velocity="100"/>
</joint>

<joint name="旋转 15" type="revolute">
  <origin xyz="-0.0392 0.015322 -0.101039" rpy="0 0 0"/>
  <parent link="RL_thigh_1"/>
  <child link="RL_calf_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
  <limit upper="2.094395" lower="-2.094395" effort="100" velocity="100"/>
</joint>

<joint name="旋转 17" type="revolute">
  <origin xyz="0.0392 0.015295 -0.101048" rpy="0 0 0"/>
  <parent link="RR_thigh_1"/>
  <child link="RR_calf_1"/>
  <axis xyz="-1.0 0.0 -0.0"/>
  <limit upper="2.094395" lower="-2.094395" effort="100" velocity="100"/>
</joint>

<joint name="旋转 18" type="revolute">
  <origin xyz="0.0392 0.015295 -0.101048" rpy="0 0 0"/>
  <parent link="FR_thigh_1"/>
  <child link="FR_calf_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="2.094395" lower="-2.094395" effort="100" velocity="100"/>
</joint>

<joint name="旋转 19" type="revolute">
  <origin xyz="0.0465 0.0196 0.0" rpy="0 0 0"/>
  <parent link="FR_hip_1"/>
  <child link="FR_thigh_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit upper="2.094395" lower="-2.094395" effort="100" velocity="100"/>
</joint>

<joint name="旋转 20" type="revolute">
  <origin xyz="-0.0465 0.0196 0.0" rpy="0 0 0"/>
  <parent link="FL_hip_1"/>
  <child link="FL_thigh_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit upper="2.094395" lower="-2.094395" effort="100" velocity="100"/>
</joint>

<joint name="旋转 21" type="revolute">
  <origin xyz="-0.0245 -0.112734 0.025234" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="RL_hip_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.523599" lower="-0.523599" effort="100" velocity="100"/>
</joint>

<joint name="旋转 22" type="revolute">
  <origin xyz="-0.0245 0.114266 0.025234" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="FL_hip_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.523599" lower="-0.523599" effort="100" velocity="100"/>
</joint>

<joint name="旋转 23" type="revolute">
  <origin xyz="0.0245 0.114266 0.025234" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="FR_hip_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
  <limit upper="0.523599" lower="-0.523599" effort="100" velocity="100"/>
</joint>

</robot>
